.button {
  width: 75px;
  height: 75px;
  background-color: #4caf50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #4e8f4e;
}

.button:focus {
  outline: none;
  animation: click 0.3s;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.button-operators {
  background-color: #cab01d;
}

.button-operators:hover {
  background-color: #ac9619;
}

.button-equal {
  background-color: #a51a1a;
}

.button-equal:hover {
  background-color: #881616;
}

.button-clear {
  margin-top: 15px;
  width: 300px;
  height: 75px;
  background-color: #a51a1a;
  animation: click 0.3s;
}

.button-clear:hover {
  background-color: #881616;
}
