.panel-container {
  width: 100%;
  height: 100px;
  background-color: #d1e6a8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.panel-result {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 3rem;
  font-weight: 700;
  overflow-x: auto;
}

.panel-result::-webkit-scrollbar {
  height: 8px;
}

.panel-result::-webkit-scrollbar-track {
  background: #d1e6a8;
}

.panel-result::-webkit-scrollbar-thumb {
  background: #83965d;
  border-radius: 15px;
}

.panel-result::-webkit-scrollbar-thumb:hover {
  background: #768f45;
}
